body {
	margin: 0 auto;
	padding: 0;

}

article, footer, header, p, div, h1, h2, h3, h4, h5, h6 {

}

h1, h2, h3, h4, h5, h6 {

}

article {

}

a {

}

a:hover {

}

ul {

}

li {

}

img {

}

p {

}

header {

}

#logo {

}

#main-menu {

}

#container {

}

#slider {

}

#content {

}

#latest-posts {

}

article {

}

#asso {

}

footer {
	
}
