body {
	margin: 0 auto;
	padding: 0;
	background-color: #333333;
}

article, footer, header, p, div, h1, h2, h3, h4, h5, h6 {

}

h1, h2, h3, h4, h5, h6 {

}

article {

}

a {

}

a:hover {

}

ul {

}

li {

}

img {

}

p {

}

header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 40px;
	background-color: black;
	color: white;
}

#logo {
	width: 200px;
}

#main-menu {
	width: 400px;
}

#main-menu ul {
	margin: 0;
	padding: 0;
}

#main-menu li {
	list-style-type: none;
	display: inline-block;
}

#container {

}

#slider-wrap {
	width: 100%;
	height: 285px;
	background-color: grey;
}

.slider {
	overflow: hidden;
	height: 285px;
}

.slider {
	padding: 0;
	margin: 0;
}

.slider li {
	display: none;
	padding: 0;
	margin: 0;
}

.slider img {
	width: 100%;
}

#content {

}

#latest-posts {
	width: 100%;
	height: 500px;
	background-color: whitesmoke;
}

article {

}

#asso {

}

footer {
	width: 100%;
	height: 200px;
	background-color: black;
}
